<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="hiw-title">
                <p>How It Works ?</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 hiw-step-holder">
            <div class="hiw-step ms-30">
                <p class="hiw-big-text">Step1: Register</p>
                <p class="hiw-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
            </div>
        </div>
        <div class="col-12 col-md-5 hiw-step-holder">
            <div class="hiw-step-image">
                <img src="../../../../assets/img/registre.svg" class="register">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-5 hiw-step-holder">
            <div class="hiw-step-image">
                <img src="../../../../assets/img/selectWatch.svg" class="watch-select">
            </div>
        </div>
        <div class="col-12 col-md-6 hiw-step-holder">
            <div class="hiw-step">
                <p class="hiw-big-text">Step2: choose your watch</p>
                <p class="hiw-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 hiw-step-holder">
            <div class="hiw-step ms-30">
                <p class="hiw-big-text">Step3: Select type of notification</p>
                <p class="hiw-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
            </div>
        </div>
        <div class="col-12 col-md-5 hiw-step-holder">
            <div class="hiw-step-image">
                <img src="../../../../assets/img/selectTypeNotif.svg" class="notification-select">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        
        <div class="col-12 col-md-5 hiw-step-holder">
            <div class="hiw-step-image">
                <img src="../../../../assets/img/enjoyGettingNotif.svg" class="enjoy-hiw">
            </div>
        </div>
        <div class="col-12 col-md-6 hiw-step-holder">
            <div class="hiw-step">
                <p class="hiw-big-text">Step4: Enjoy getting notifications!</p>
                <p class="hiw-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
            </div>
        </div>
    </div>
</div>