.new-password-title {
    font: normal normal bold 36px/43px Roboto;
    letter-spacing: 0px;
    color: #004FD4;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.form-new-password {
    width: 100%;
    margin-top: 60px;
}



.input-new-password {
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
}

::placeholder {
    color:#B0B0B0;
}

:-ms-input-placeholder {
    color:#B0B0B0;
}

::-ms-input-placeholder {
    color:#B0B0B0;
}

.new-password-image {
    width: 100%;
    text-align: center;
}

.new-password-image img {
    width: 70%;
}

.form-new-password button {
    width: 250px;
    height: 47px;
    background: #015AE7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
textarea {
    height: auto !important;
}

.new-password-button-div {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

small {
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
}

.error-border {
    border-color:  #df4759;
    width: 100% !important;

}

.error-border:focus {
    border-color: #df4759;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df4759;
    width: 100% !important;
}

.new-password-col {
    display: flex;
    align-items: center;
}




.input-group,.form-group {
    height: 80px;
}

.input-group {
    width: auto !important;
    border-radius: 10px !important;
    position: relative ;
}


.validation-warning {
    width: 100%;
    text-align: center;
}



.addon-right {
    width: 50px;
    background: transparent;
    color: #B0B0B0;
    position: absolute;
    right: 13px;
    padding: 13px;
    border: none;
    top: 0px;
    filter: invert(100%) sepia(0%) saturate(3362%) hue-rotate(259deg) brightness(75%) contrast(76%);
}




.addon-right img {
    width: 100%;
    filter: invert(100%) sepia(0%) saturate(3362%) hue-rotate(259deg) brightness(75%) contrast(76%);
}

.addon-right img:hover {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .new-password-image img {
        width: 70%;
    }

    .new-password-image {
        padding-left: 0px;
    }

    .new-password-title {
        font: normal normal bold 14pt/43px Roboto;
    }

    .new-password-forget-password {
        font: normal normal normal 10pt/19px Roboto;
    }

    .new-password-forget-password a {
        font: normal normal normal 10pt/19px Roboto;
    }

    .new-password-checkbox {
        font: normal normal normal 10pt/19px Roboto;
    }

    .form-group {
        font: normal normal normal 11pt/19px Roboto;
    }

    .new-password-checkbox label {
        padding-top: 0px;
    }

    small {
        font: normal normal normal 10pt/19px Roboto;
        letter-spacing: 0px;
    }

    .form-new-password button {
        width: 200px;
        height: 42px;
        font: normal normal bold 10pt/19px Roboto;
    }

    .auth-login-new-password {
        font: normal normal normal 10pt/19px Roboto;
    }
    ::placeholder {
        font: normal normal normal 11pt/19px Roboto;
    }

    .form-new-password {
        padding-left: 20px;
        padding-right: 20px;
    }
}