<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5 order-2 order-lg-1">
            <div class="login-title" data-aos="fade-up">
                <p>ACCOUNT LOGIN</p>
            </div>
            <div class="form-login" data-aos="fade-up-right">
                <form novalidate [formGroup]="loginForm" data-aos="fade-up">
                    <div class="form-group" data-aos="fade-up">
                        <input type="email" class="form-control input-login" id="inputEmail"
                            aria-describedby="emailError" placeholder="E-mail Address" formControlName="email"  [ngClass]="{'error-border':formErrors && formErrors.email}">
                        <small id="emailError" class="form-text text-danger" *ngIf="formErrors && formErrors.email">{{formErrors.email}}</small>
                        <small class="form-text text-danger" *ngIf="validationErrors && validationErrors.errcode == 11002">{{validationErrors.errmsg}}</small>
                    </div>
                    <div class="input-group" data-aos="fade-up">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-login" id="inputpassword"
                            aria-describedby="passwordError" placeholder="Password" formControlName="password" [ngClass]="{'error-border':formErrors && formErrors.password}">
                        <span class="input-group-text addon-right">
                            <img src="../../../assets/img/show.svg" *ngIf="!showPassword" (click)="showHidePassword(true)">    
                            <img src="../../../assets/img/hide.svg" *ngIf="showPassword" (click)="showHidePassword(false)">  
                        </span>    
                        <small id="passwordError" class="form-text text-danger" *ngIf="formErrors && formErrors.password">{{formErrors.password}}</small>
                    </div>
                    <div class="form-check login-checkbox" data-aos="fade-up">
                        <input class="form-check-input" type="checkbox" value="" id="remember-me-checkbox" checked>
                        <label class="form-check-label" for="remember-me-checkbox">
                            Rememeber Me
                        </label>
                    </div>
                    <div class="login-forget-password" data-aos="fade-up">
                        <a [routerLink]="['/auth/reset-password']" >Forget Password ?</a>
                    </div>
                    <small class="form-text text-danger mt-5" *ngIf="validationErrors && validationErrors.errcode == 11003">{{validationErrors.errmsg}}</small>

                    <div class="login-button-div" data-aos="fade-up">
                        <button type="submit" class="btn" [disabled]="submitted || loginForm.invalid" (click)="logIn()"> 
                            <span *ngIf="!submitted">SIGN IN</span>
                          <div class="spinner-border" role="status" *ngIf="submitted">
                            <span class="visually-hidden">Loading...</span>
                          </div> 
                        </button>
                    </div>
                    <div class="auth-login-register" data-aos="fade-up">
                        <span>Not registered yet,&nbsp;&nbsp;</span>
                        <a [routerLink]="['/auth/register']">
                            Sign Up Now
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-7 login-col order-1 order-lg-2">
            <div class="login-image" data-aos="fade-up-left">
                <img src="../../../assets/img/Login.svg">
            </div>
        </div>
    </div>
</div>