<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="login-title">
                <p>ACCOUNT LOGIN</p>
            </div>
            <div class="form-login">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control input-login" id="inputEmail"
                            aria-describedby="emailError" placeholder="E-mail Address">
                        <small id="emailError" class="form-text text-danger"></small>
                    </div>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-login" id="inputpassword"
                            aria-describedby="passwordError" placeholder="Password">
                        <span class="input-group-text addon-right">
                            <img src="../../../assets/img/show.svg" *ngIf="!showPassword" (click)="showHidePassword(true)">    
                            <img src="../../../assets/img/hide.svg" *ngIf="showPassword" (click)="showHidePassword(false)">  
                        </span>    
                        <small id="passwordError" class="form-text text-danger"></small>
                    </div>
                    <div class="form-check login-checkbox">
                        <input class="form-check-input" type="checkbox" value="" id="remember-me-checkbox" checked>
                        <label class="form-check-label" for="remember-me-checkbox">
                            Rememeber Me
                        </label>
                    </div>
                    <div class="login-forget-password">
                        <a [routerLink]="['/auth/reset-password']">Forget Password ?</a>
                    </div>
                    <div class="login-button-div">
                        <button type="submit" class="btn"> SIGN IN </button>
                    </div>
                    <div class="auth-login-register">
                        <span>Not registered yet,&nbsp;&nbsp;</span>
                        <a [routerLink]="['/auth/register']">
                            Sign Up Now
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6 login-col">
            <div class="login-image">
                <img src="../../../assets/img/Login.svg">
            </div>
        </div>
    </div>
</div>