<button #telegramInstructionModelButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#telegramInstructionModel" hidden>
</button>

<!-- Modal Success Sent -->
<div  class="modal fade" id="telegramInstructionModel" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="telegramInstructionModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeButton hidden (click)='closeModal()'></button>
      <div class="modal-body">
        <app-telegram></app-telegram>
      </div>
      
    </div>
  </div>
</div>