<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-info" data-aos="flip-right">
            <div class="info-image-holder">
                <div class="image-holder">
                    <img src="../../../../assets/img/world.svg">
                </div>
                <div class="text-holder">
                    <p>Sellers from over 100 countries</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-info" data-aos="flip-right">
            <div class="info-image-holder">
                <div class="image-holder">
                    <img src="../../../../assets/img/shield.svg">
                </div>
                <div class="text-holder">
                    <p>Shop Securely Thanks To Buyer Protection</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-info" data-aos="flip-right">
            <div class="info-image-holder">
                <div class="image-holder">
                    <img src="../../../../assets/img/watch.svg">
                </div>
                <div class="text-holder">
                    <p>Over 10,000 Watches Sold Every Month</p>
                </div>
            </div>
        </div>
    </div>
</div>