<div class="container">
    <div class="row setting-holder">
        <div class="col-6 big-title">
            <span>Account Settings</span>
        </div>
    </div>
    <div class="row setting-holder">
        
        <div class="col-12">
            <div class="col-12 card card-setting">
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Login Email:</span>
                    </div>
                    <div class="setting-content">
                        <span>lorem@email.com</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Change Email</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Login Password:</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Change Password</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>WhatsApp Chat:</span>
                    </div>
                    <div class="setting-content">
                        <span>1254789654</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Block Whatsapp</span>
                        <span>Delete Whatsapp</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Telegram Config:</span>
                    </div>
                    <div class="setting-content">
                        <span>1265877412</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Block Telegram</span>
                        <span>Delete Telegram</span>
                    </div>
                </div>
             </div>  
        </div>
    </div>
</div>