<div class="container">
    <div class="row setting-holder">
        <div class="col-6 big-title">
            <span>Account Settings</span>
        </div>
    </div>
    <div class="row setting-holder">
        
        <div class="col-12">
            <div class="col-12 card card-setting" *ngIf="user">
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Login Email:</span>
                    </div>
                    <div class="setting-content">
                        <span>{{user.email}}</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Change Email</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Login Password:</span>
                    </div>
                    <div class="setting-buttons">
                        <span>Change Password</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>WhatsApp Chat:</span>
                    </div>
                    <div class="setting-content" *ngIf="user && user.whatsapp && user.whatsapp.length > 0 && user.whatsapp[0]">
                        <span>{{user.whatsapp[0]}}</span>
                    </div>
                    <div class="setting-buttons">
                        <span *ngIf="user && user.whatsapp && user.whatsapp.length > 0 && user.whatsapp[0]">Block Whatsapp</span>
                        <span *ngIf="user && user.whatsapp && user.whatsapp.length > 0 && user.whatsapp[0]">Delete Whatsapp</span>
                        <span *ngIf="user && (!user.whatsapp || (user.whatsapp && user.whatsapp.length == 0) || (user.whatsapp && user.whatsapp.length == 0 && user.whatsapp[0]))" (click)='showModal("whatsappInstruction")'>Active Whatsapp</span>
                    </div>
                </div>
                <div class="col-12 setting-holder-item">
                    <div class="setting-title">
                        <span>Telegram Config:</span>
                    </div>
                    <div class="setting-content" *ngIf="user && user.telegram && user.telegram.length > 0 && user.telegram[0]">
                        <span>{{user.telegram[0]}}</span>
                    </div>
                    <div class="setting-buttons">
                        <span *ngIf="user && user.telegram && user.telegram.length > 0 && user.telegram[0]">Block Telegram</span>
                        <span *ngIf="user && user.telegram && user.telegram.length > 0 && user.telegram[0]">Delete Telegram</span>
                        <span *ngIf="user && (!user.telegram || (user.telegram && user.telegram.length == 0) || (user.telegram && user.telegram.length == 0 && !user.telegram[0]))" (click)='showModal("telegramInstruction")'>Active Telegram</span>
                    </div>
                </div>
             </div>  
        </div>
    </div>
</div>


<app-modal-telegram-instructions (modalClosed)='modalClosed()'  *ngIf="modalToShow == 'telegramInstruction'"></app-modal-telegram-instructions>

<app-modal-whatsapp-instructions (modalClosed)='modalClosed()' *ngIf="modalToShow == 'whatsappInstruction'"></app-modal-whatsapp-instructions>