.list-links {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.list-links  li {
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.list-links  li a {
    color: #606060;
    display: inline-block;
    font: normal normal normal 19px/24px Roboto;
    letter-spacing: 0px;
}

.list-links  li img {
    display: inline-block;
    width: 19px;
    height: 61px;
    margin-right: 13px;
    filter: invert(38%) sepia(0%) saturate(11%) hue-rotate(289deg) brightness(98%) contrast(98%);

}

.is-active {
    color: #004FD4 !important;
}

.is-active  img {
    filter: invert(26%) sepia(72%) saturate(3371%) hue-rotate(211deg) brightness(80%) contrast(111%) !important;
}