<div class="row card card-selection">
    <div class="col-12">
        <div class="confirm-selection-title" data-aos="fade-up">
            <span>Confirm your selections :</span>
        </div>
    </div>
    <div class="row applied-filter-chips">
        <div class="col-12 col-lg-6">
          <div class="chip-container" *ngFor="let appliedFilter of appliedFiters" data-aos="fade-right">
            <span class="badge rounded-pill chip-filter" (click)="removeFilter($event,appliedFilter)">
              <span>{{appliedFilter.name}}</span>
              <span>x</span>
            </span>
          </div>
          <div class="chip-container" >
            <span class="badge rounded-pill  chip-filter" (click)="removeAppliedFilterPrice()" *ngIf="(minPriceValue != 0 || maxPriceValue != 150000)">
              <span>{{minPriceValue}}€ - {{maxPriceValue}}€</span>
              <span>x</span>
            </span>
          </div>
        </div>
        <div class="col-12 col-lg-6 selection-image-holder">
            <div class="selection-image" data-aos="fade-left">
                <img src="../../../../assets/img/client-dashboard/confirmation_watch.svg">
            </div>
        </div>
        <div class="col-12 selection-buttons">
            <button class="btn edit-filter" (click)="nextStep(1)">
                EDIT FILTER
            </button>
            <button class="btn confirm-filter" (click)="nextStep(3)" [disabled]="appliedFiters && ((appliedFiters.length < 5 && minPriceValue == 0 && maxPriceValue== 150000) || (appliedFiters.length < 4 && (minPriceValue != 0 || maxPriceValue != 150000)))">
                CONFIRM FILTER
            </button>
        </div>
      </div>
</div>