<div class="row allalerts-info">
    <div class="col-4 allalert-info">
        <span class="alert-info-big">
            2
        </span>
        <span class="alert-info-small">
            Alerts
        </span>
    </div>
    <div class="col-4 allalert-info">
        <span class="alert-info-big">
            1
        </span>
        <span class="alert-info-small">
            of 2 Active
        </span>
    </div>
    <div class="col-4 allalert-info">
        <span class="alert-info-big">
            1
        </span>
        <span class="alert-info-small">
            Found
        </span>
    </div>
</div>