.allalerts-info {
    width: 100%;
}

.allalert-info {
    text-align: left;
}

.alert-info-big {
    font: normal normal normal 35px/77px Roboto;
    letter-spacing: 0px;
    color: #888888;
}

.alert-info-small {
    font: normal normal normal 25px/77px Roboto;
    letter-spacing: 0px;
    color: #888888;
    margin-left: 5px;
}