<div class="row allalerts-info">
    <div class="col-4 allalert-info" *ngIf="urls">
        <span class="alert-info-big">
            {{urls.length}}
        </span>
        <span class="alert-info-small">
            Alerts
        </span>
    </div>
    <div class="col-4 allalert-info" *ngIf="urls">
        <span class="alert-info-big">
            {{urlActive}}
        </span>
        <span class="alert-info-small">
            of {{urls.length}} Active
        </span>
    </div>
    <div class="col-4 allalert-info" *ngIf="urls">
        <span class="alert-info-big" *ngIf="urls && urls.length > 0">
            {{urls.length - urlActive}}
        </span>
        <span class="alert-info-big" *ngIf="!urls || (urls && urls.length == 0)">
            0
        </span>
        <span class="alert-info-small">
            Found
        </span>
    </div>
    <div class="col-12 alerts-table">
        <table class="table">
            <thead class="table-head">
              <tr>
                <th scope="col-1" class="table-head-active">Active</th>
                <th scope="col-4" class="table-head-filter">Filter</th>
                <th scope="col-3" class="table-head-notification">Notification Type</th>
                <th scope="col" class="table-head-detail"></th>
              </tr>
            </thead>
            <tbody class="table-body" *ngIf="urls && urls.length > 0">
              <tr class="row-table-alert" *ngFor="let url of urls">
                <td class="first-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [checked]='url.status == "active"' (change)='urlCheckBoxCheck($event,url._id)'>
                    </div>
                </td>
                <td class="filter-item">{{url.filterData | filterDataToString}}</td>
                <td>
                    <div class="social-logos">
                        <div class="social-logo logo-application" [ngClass]='{"active":url.applicationActive}'>
                            <img src="../../../../assets/img/client-dashboard/s_app.svg">
                            <span>0</span>
                        </div>
                        <div class="social-logo logo-email" [ngClass]='{"active":url.emailActive}'>
                            <img src="../../../../assets/img/client-dashboard/s_email.svg">
                            <span *ngIf="url && url.totalemails && url.totalemails.length > 0">{{url.totalemails[0].total | numberPipe:2}}</span>
                            <span *ngIf="!url || !(url && url.totalemails) || !(url && url.totalemails && url.totalemails.length > 0)">0</span>
                        </div>
                        <div class="social-logo logo-telegram" [ngClass]='{"active":url.telegramActive}'>
                            <img src="../../../../assets/img/client-dashboard/s_telegram.svg">
                            <span *ngIf="url && url.totaltelegrams && url.totaltelegrams.length > 0">{{url.totaltelegrams[0].total | numberPipe:2}}</span>
                            <span *ngIf="!url || !(url && url.totaltelegrams) || !(url && url.totaltelegrams && url.totaltelegrams.length > 0)">0</span>                        </div>
                        <div class="social-logo logo-whatsapp" [ngClass]='{"active":url.whatsappActive}'>
                            <img src="../../../../assets/img/client-dashboard/s_whatsapp.svg">
                            <span>0</span>
                        </div>
    
                    </div>
                </td>
                <td><div class="alert-detail-div">
                    <button type="submit" class="btn"> 
                        <span >DETAILS</span>
                    </button>
                </div></td>
              </tr>
            </tbody>
          </table>
          <div class="error-holder" *ngIf="apiResponse">
            <span *ngIf="apiResponse">{{apiResponse.msg}}</span>
          </div>
    </div>
</div>


<ngx-spinner
name='alertsSpinner'
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-beat"
>
<p style="font-size: 20px; color: white">Loading Alerts...</p>
</ngx-spinner>

<ngx-spinner
name='alertReqSpinner'
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-beat"
>
<p style="font-size: 20px; color: white">Please Wait</p>
</ngx-spinner>


<button #confirmBlockUrlButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmBlockUrl" hidden>
    
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="confirmBlockUrl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmBlockUrlLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmBlockUrlLabel">Alert</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span *ngIf='userAction'>{{userAction}}</span>
          <span *ngIf='!userAction'>Do you want to perform this action</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dissmissModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)='updateUrl()' data-bs-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>