<div class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="email-signup">
                <p>Sign up to get updates !</p>
                <div class="input-group mb-3 input-group-lg">
                    <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Your Email Address" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn" type="button">Sign Up</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="logo-holder">
                <img src="../../../assets/img/logo.svg">
            </div>
        </div>
    </div>
</div>