<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5 order-2 order-lg-1">
            <div class="register-title" data-aos="fade-up">
                <p>ACCOUNT REGISTER</p>
            </div>
            <div class="form-register" data-aos="fade-up-right">
                <form novalidate [formGroup]="registerForm">
                    <div class="form-group half-width" data-aos="fade-up">
                        <input type="text" class="form-control input-register" id="inputFirstName"
                            aria-describedby="firstNameError" placeholder="First Name" formControlName="firstName"  [ngClass]="{'error-border':formErrors && formErrors.firstName}">
                        <small id="firstNameError" class="form-text text-danger" *ngIf="formErrors && formErrors.firstName">{{formErrors.firstName}}</small>
                    </div>
                    <div class="form-group half-width" data-aos="fade-up">
                        <input type="text" class="form-control input-register" id="inputLastName"
                            aria-describedby="lastNameError" placeholder="Last Name" formControlName="lastName"  [ngClass]="{'error-border':formErrors && formErrors.lastName}">
                        <small id="lastNameError" class="form-text text-danger" *ngIf="formErrors && formErrors.lastName">{{formErrors.lastName}}</small>
                    </div>
                    <div class="form-group" data-aos="fade-up">
                        <input type="email" class="form-control input-register" id="inputEmail"
                            aria-describedby="emailError" placeholder="E-mail Address"  formControlName="email"  [ngClass]="{'error-border':formErrors && formErrors.email}">
                        <small id="emailError" class="form-text text-danger" *ngIf="(formErrors && formErrors.email)">{{formErrors.email}}</small>
                        <small class="form-text text-danger" *ngIf="validationErrors && validationErrors.errcode == 11000">{{validationErrors.errmsg}}</small>
                    </div>
                    <div class="input-group" data-aos="fade-up">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-register" id="inputpassword"
                            aria-describedby="passwordError" placeholder="Password" formControlName="password"  [ngClass]="{'error-border':formErrors && formErrors.password}">
                        <span class="input-group-text addon-right">
                            <img src="../../../assets/img/show.svg" *ngIf="!showPassword" (click)="showHidePassword(true)">    
                            <img src="../../../assets/img/hide.svg" *ngIf="showPassword" (click)="showHidePassword(false)">  
                        </span>    
                        <small id="passwordError" class="form-text text-danger" *ngIf="formErrors && formErrors.password">{{formErrors.password}}</small>
                    </div>
                    <div class="input-group" data-aos="fade-up">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-register" id="inputconfirmpassword"
                            aria-describedby="confirmPasswordError" placeholder="Confirm Password" formControlName="confirmPassword"  [ngClass]="{'error-border':formErrors && formErrors.confirmPassword}">   
                        <small id="confirmPasswordError" class="form-text text-danger" *ngIf="formErrors && formErrors.confirmPassword">{{formErrors.confirmPassword}}</small>
                    </div>
                    <div class="register-button-div" data-aos="fade-up" >
                        <button type="submit" class="btn" [disabled]="submitted || registerForm.invalid" (click)="register()"> 
                            <span *ngIf="!submitted">SIGN UP</span>
                          <div class="spinner-border" role="status" *ngIf="submitted">
                            <span class="visually-hidden">Loading...</span>
                          </div> 
                         </button>
                    </div>
                    <div class="auth-login-register" data-aos="fade-up">
                        <span>Not registered yet,&nbsp;&nbsp;</span>
                        <a [routerLink]="['/auth/login']">
                            Sign In Now
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-7 register-col order-1 order-lg-2">
            <div class="register-image" data-aos="fade-up-left">
                <img src="../../../assets/img/SignUp.svg">
            </div>
        </div>
    </div>
</div>