.start-title {
    font: normal normal bold 45px/54px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
    text-align: center;
    margin-top: 130px;
}

.start-image {
    width: 341px;
}

.start-image img {
    width: 100%;
    max-height: 228px;
    border-radius: 10px;
}

.col-start {
    margin-top: 30px;
    text-align: left;

}

.start-text-holder {
    margin-top: 20px;
    width: 70%;
}

.start-step {
    text-align: left;
    font: normal normal normal 20px/24px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
}

.start-description {
    text-align: left;
    font: normal normal normal 13px/15px Roboto;
    letter-spacing: 0px;
    color: #727272;
    margin-top: -10px;
}

.start-button {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.start-button button {
    width: 230px;
    height: 56px;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 10px;
    background: #015AE7 0% 0% no-repeat padding-box;
}

@media screen and (max-width: 992px) {
    .start-title {
        font: normal normal bold 20pt/54px Roboto;
    }

    .start-image {
        text-align: center;
    }

    .start-image img {
        width: 80%;
    }

    .start-text-holder {
        margin-left: 40px;
    }

    .start-step {
        font: normal normal normal 12pt/24px Roboto;
    }

    .start-description {
        font: normal normal normal 9pt/15px Roboto;
    }
}

