<div class="container">
    <div class="row">
        <div class="start-title">
            <p>Get started today</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-start">
            <div class="start-image">
                <img src="../../../../assets/img/headway-5QgIuuBxKwM-unsplash.jpg">
            </div>
            <div class="start-text-holder">
                <p class="start-step">
                    01: Step One
                </p>
                <p class="start-description">
                    Fill out our affiliate application — it's free and only takes two minutes.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-start">
            <div class="start-image">
                <img src="../../../../assets/img/max-whitehead-SdiTT6OqS5M-unsplash.jpg">
            </div>
            <div class="start-text-holder">
                <p class="start-step">
                    02: Step Two
                </p>
                <p class="start-description">
                    Fill out our affiliate application — it's free and only takes two minutes.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-start">
            <div class="start-image">
                <img src="../../../../assets/img/igal-ness-9wY2ofzQ9Us-unsplash.jpg">
            </div>
            <div class="start-text-holder">
                <p class="start-step">
                    03: Step Three
                </p>
                <p class="start-description">
                    Fill out our affiliate application — it's free and only takes two minutes.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="start-button">
                <button class="btn">
                    APPLY TODAY
                </button>
            </div>
        </div>
    </div>
</div>