.card-pricing-plans {
    min-height: 300px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
}

.card-selected-plan-holder {
    min-height: 300px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
}

.pricing-plans-holder {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 13px;
}

.pricing-holder {
    margin-top: 10px;
    display: inline-block;
}

.lock-holder {
    width: 100%;
    padding: 20px;
    display: flex;
}

.lock-holder img {
    width: 130px;
}

.price-plan-title {
    text-align: center;
    letter-spacing: 0px;
    color: black;
    font: normal normal bold 21px/24px Roboto;
}

.price-plan-price {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: black;
    font: normal normal bold 25px/27px Roboto;
}

.price-plan-holder {
    display: inline-block;
}

.price-plan-period {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: #333333;
    font: normal normal normal 12px/15px Roboto;
}

.price-plan-button button {
    width: 132px;
    height: 34px;
    background: #0164F8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 20px;
}

.pricing-plans-feature {
    display: inline-block;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.plan-feature {
    display: inline-block;
    text-align: center;
    padding-right: 59px;
}

.plan-feature img {
    width: 20px;
    filter: invert(32%) sepia(60%) saturate(5209%) hue-rotate(208deg) brightness(93%) contrast(110%);

}

.plan-feature span {
    letter-spacing: 0px;
    color: #333333;
    font: normal normal normal 12px/15px Roboto;
}

.cancel span {
    font: normal normal normal 20px/22px Roboto !important;
    color: #333333 !important;
}