<div class="col-12 card card-app">
    <div class="col-12 app-title">
        <span>Setup ChronoAlerts app</span>
    </div>
    <div class="col-3 app-logo-holder">
        <div class="logo-holder">
            <img src="../../../../assets/img/client-dashboard/app.svg">
        </div>
        <div class="logo-title">
            ChronoAlerts App
        </div>
    </div>
    <div class="col-7 app-instructions">
        <ul class="list-instructions">
            <li class="instruction-item">
                <span>1. Scan QR code to get the app link</span>
            </li>
            <li class="instruction-item">
                <span>2. Download,install and open the ChronoAlerts App</span>
            </li>
            <li class="instruction-item">
                <span>3. Register into your account</span>
            </li>
            <li class="instruction-item">
                <span>4. Go to settings and activate the app</span>
            </li>
        </ul>
    </div>
    <div class="app-qr-code">
        <div class="qr-code-image">
            <img src="../../../../assets/img/client-dashboard/app-qr-code.svg">
        </div>
        <div class="qr-code-text">
            <span>Scan to download <span class="blue-text">ChronoAlerts</span> app</span>
        </div>
    </div>
</div>
