<div class="container">
    <div class="row">
        <div class="col-12 col-lg-2 col-app">
            <div class="apps-holder" data-aos="fade-up-right">
                <div class="apps-image-holder">
                    <img src="../../../../assets/img/app.svg">
                </div>
                <div class="apps-text" data-aos="fade-up">
                    <p>
                        ChronoAlerts App for iOS & Android
                    </p>
                </div>
                <div class="apps-icons" data-aos="fade-up">
                    <div class="apps-logo">
                        <img src="../../../../assets/img/apple.svg">
                    </div>
                    <div class="apps-logo">
                        <img src="../../../../assets/img/android.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-6 col-app">
            <div class="app-text-holder" data-aos="fade-up">
                <div class="app-big-text">
                    <p>Get notified wherever you go!</p>
                </div>
                <div class="app-small-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-app" data-aos="fade-left">
            <div class="app-big-image-holder">
                <img src="../../../../assets/img/phoneMKP.png">
            </div>
        </div>
    </div>
</div>