<button #whatsappInstructionModelButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#whatsappInstructionModel" hidden>
</button>

<!-- Modal Success Sent -->
<div  class="modal fade" id="whatsappInstructionModel" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="whatsappInstructionModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDialogLabel">Whatsapp Instructions</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeButton  (click)='closeModal()'></button>
        </div>
      <div class="modal-body modal-whatsapp-instruction">
        <app-whatsapp [modal]='true'></app-whatsapp>
      </div>
      
    </div>
  </div>
</div>