
  .main-list {
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-left: 0px;
    height: 850px;
    cursor: pointer;
  
  }

  label {
    font: normal normal normal 13px/16px Roboto;
  }
  
  .list-item {
    width: 100%;
    display: block;
    padding-top: 13px;
    font-size: 15px;
    border:none;
    border-radius: 0px;
    padding-left: 10px;
    color: #8B8B8B;
    font: normal normal normal 13px/16px Roboto;
  }
  
  .list-item.selected {
    color: #0164F8 !important;
  }
  
  
  .main-div-tabs {
    border-right: 1px solid #d3d3d4;
    padding-right: 0px;
    height: 450px;
    overflow-y: scroll;
  }
  
  .main-filters {
    height: 450px;
    overflow-y: scroll;
    padding-left: 50px;
  
  }
  
  .header {
    padding-top: 34px;
    font-size: 38px;
    color:#0164F8;
    font: normal normal normal 38px/20px Roboto;
  }
  
  
  .filters {
    padding-top: 45px !important;
  }
  
  .icon-search {
    position: absolute;
    right: 6px;
    top: 6px;
  }
  
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
  }
  
  .form-check-input:focus{
    box-shadow: none;
    outline: none;
  }
  
  textarea,
  textarea.form-control,
  input.form-control,
  [contenteditable].form-control {
    border:1px solid gainsboro;
    border-radius: 10px !important;
  }

  ::placeholder {
    font: normal normal normal 18px/33px Roboto;
    letter-spacing: 0px;
    color: #808080;
  }
  
  .input-search {
    width: 70% !important;
    height: 22px;
    border-radius: 10px;
  }
  
  .filters-checkbox {
    padding-top: 20px;
    width: 100%;
  }

  .input-group {
    border-radius: 10px !important;
  }
  
  .main-filter-content {
    padding-top: 16px;
    width: 100%;
  }
  
  .filter-first-letter {
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0164F8;
    padding-top: 28px;
    font-size: 32px;
  }
  
  .checkbox-div .form-check {
    padding-top: 13px;
  }
  
  .checkbox-div .form-check-input {
    font-size: 14px;
    border-radius: 0px;
    vertical-align: middle;
  }
  
  .checkbox-div label {
    vertical-align: middle;
    font-size: 14px;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
  }
  
  .button-apply {
    width: 100%;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }
  
  .button-apply button {
    background: #0164F8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font: normal normal normal 13px/15px Roboto;
  }
  .button-apply button i {
    padding-right: 5px;
    
  }
  
  .btn {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
  
  .nav-button {
    padding-left: 15px;
    padding-top: 15px;
    color: black !important;
  }
  
  .div-bottom {
    border-top: 1px solid #d3d3d4;
    margin-top: 18px;
  }
  
  .close-btn {
    position: fixed;
    float: right;
    padding-right: 44px;
    padding-top: 15px;
    width: 0px;
    color: #d3d3d4;
    right: 0px;
    font-size: 30px;
    line-height: 0px;
  }
  
  .close-btn i {
    font-weight: 100 !important;
  }
  
  
  
  @media (max-width: 789px){
    .main-list {
      width: 97% ;
      display: block;
      padding-top: 15px;
      padding-left: 12px;
      overflow-y: scroll;
      height: 500px;
    }
    
    .list-item {
      width: 100%;
      display: block;
      padding-top: 13px;
      font-size: 15px;
      border:none;
      border-bottom:1px solid #d3d3d4;
      border-radius: 0px;
    }
  
    .filters {
      padding-top: 30px !important;
    }
    
    .main-filter-content {
      padding-top: 15px;
      margin-bottom: 80px !important;
    }
  
    .filters-checkbox {
      padding-top: 10px;
    }
  
    .input-search {
      width: 90% !important;
    }
  
    .div-bottom {
      position: fixed;
      bottom: 3px;
      background-color: white;
      left: 4px;
      width: 98%;
    }
  
    .main-holder-delivery:nth-child(2n + 1){
      padding-right: 0px !important;
    }
    
    .main-caseMaterial:nth-child(3n + 1),.main-caseMaterial:nth-child(3n + 2),.main-caseMaterial:nth-child(2n + 1) {
      padding-right: 0px !important;
    }
  
    .main-caseMaterial:nth-child(2n + 1)  {
      padding-right: 10px !important;
    }
  
    .main-caseMaterial:nth-child(3n) {
      padding-right: 10px !important;
    }
  
    .right-input {
      float:left;
      left:0px;
      width: 100%;
    }
  
    .left-input {
      width: 100%;
    }
  
    .filter-notification {
      margin-bottom: 110px !important;
      padding-bottom: 25px !important;
    }
    
    
  
  }
  
 /** .form-check-input:checked[type=checkbox] {
    filter: invert(0%) sepia(73%) saturate(0%) hue-rotate(146deg) brightness(90%) contrast(104%);
  }**/

  .form-check-input:checked {
    background-color: #0164F8 !important;
    border-color: #0164F8 !important;
  }
  
  .price-holder-price {
    padding-right: 30px !important;
  }
  
  .trusted-value-holder {
    padding-top: 40px;
    width: 100%;
    padding-right: 30px !important;
  }
  
  .slider-ngx {
    color:#0164F8;
  }
  
  .slider-ngx * {
    color: #0164F8 !important;
    background-color: #0164F8 !important;
  }
  
  ::ng-deep .slider-ngx  .ngx-slider-pointer ,::ng-deep .slider-ngx .ngx-slider-selection{
    color: #0164F8;
    background-color: #0164F8 !important;
  }
  
  ::ng-deep .slider-ngx .ngx-slider-pointer:after {
    background-color: #0164F8 !important;
  }
  
  ::ng-deep .slider-ngx .ngx-slider-bubble {
    padding-bottom: 6px;
  }
  
  .left-input {
    float: left;
    left: 0px;
  }
  
  .left-input input,.right-input input{
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .input-price-filter {
    padding-top: 30px !important;
  }
  
  .right-input {
    float: right;
    right: 0px;
  }
  
  .case-sizes {
    padding-top: 15px !important;
  }
  
  .case-sizes .search-box-filter{
    padding-left: 0px !important;
  }
  
  .years {
    padding-top: 50px !important;
  }
  
  .years .main-filter-content {
    padding-top: 5px !important;
  }
  
  .years .search-box-filter {
    padding-left: 0px !important;
  }
  
  .form-check-label img {
    padding-right: 8px;
    padding-bottom: 2px;
  }
  
  .form-check-label * {
    vertical-align: middle;
  }
  
  .delivery-size {
    font-size: 20px;
    padding-top: 15px;
  }
  
  .container-checkbox { 
    position: relative;
      float: left;
      /* padding: 20px; */
      border: 1px solid #d3d3d4;
      cursor: pointer;
      text-align: center;
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      margin-top: 17px;
      margin-bottom: 9px;
  }
  .container-checkbox:hover {
    border: 1px solid #0164F8;
  }
  
  .container-checkbox.selected {
    border: 1px solid #0164F8;
  }
  .checkbox-image { position: absolute; bottom: 0px; right: 0px; }
  
  .name-special {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .main-holder-delivery {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .main-holder-delivery img {
    width: 92px !important;
  }
  
  .main-holder-delivery:nth-child(2n + 1){
    padding-right: 10px;
  }
  
  .main-caseMaterial:nth-child(3n + 1),.main-caseMaterial:nth-child(3n + 2)  {
    padding-right: 10px;
  }
  .main-caseMaterial:nth-child(3n) {
    padding-right: 0px;
  }
  
  .check-mark-border {
    position: absolute;
    top: -11px;
    right: -10px;
    z-index: 9999999999;
    color: orange;
    border-radius: 100%;
    padding: 3px;
    font-size: 8px;
    background: white;
    width: 20px;
    height: 20px;
  }
  
  .check-mark-holder {
    border:1px solid;
    border-radius: 100%;
  }
  
  .main-holder-caseDelivery {
    padding: 0px !important;
  }
  
  
  
  .main-holder-caseDelivery img {
    width: 100% !important;
    height: 28px;
  }

  .filter-horizontal {
    text-align: left;
    margin-top: 30px;
  }

  .list-modals {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-right: 15px !important;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;
  }

  .list-modals li {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #8B8B8B;
    font: normal normal normal 12px/16px Roboto;
  }

  .list-modals li:hover {
    cursor: pointer;
  }

  .start-button-filter {
    text-align: center;
    margin-top: 15px;
  }
  .start-button-filter button {
    text-align: center;
    background: #0164F8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 233px;
    height: 43px;
    font: normal normal normal 14px/16px Roboto;
  }

  .filter-container {
    margin-top: -6px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.main-div-tabs::-webkit-scrollbar,.main-filters::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
.main-div-tabs::-webkit-scrollbar-track,.main-filters::-webkit-scrollbar-track {
  background-color:#fff
}
.main-div-tabs::-webkit-scrollbar-track:hover,.main-filters::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4
}

/* scrollbar itself */
.main-div-tabs::-webkit-scrollbar-thumb,.main-filters::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff
}
.main-div-tabs::-webkit-scrollbar-thumb:hover,.main-filters::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.main-div-tabs::-webkit-scrollbar-button,.main-filters::-webkit-scrollbar-button {display:none}

/* div box */
body{background-color:#babac0}

.overflow{min-height: 450px}


.applied-filter-chips {
  margin-top: 0px;
}

.chip-container {
  width:auto;
  margin-bottom: 12px;
  display: inline-block;
  margin-right: 8px;
}


.chip-filter {
  padding-top: 8px;
  padding-bottom: 8px;
  font: normal normal normal 13px/16px Roboto;
  text-align: center;
  min-width: 60px;
  color:black;
  background: #E6EAEC;
  border: 1px solid #9EAEB3;
}

.chip-filter span:first-child{
  margin-right: 5px;
}

.chip-filter:hover {
  cursor: pointer;
}