<div class="container main-content">
    <div class="row">
        <div class="col-12 col-lg-7 col-xl-6">
            <div class="cover-text">
                <div class="big-text" data-aos="fade-up-right">
                    <p>Get notified once your watch is available</p>
                </div>
                <div class="small-text" data-aos="fade-up-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
                </div>
                <div class="button-start" data-aos="fade-up-right">
                    <button type="button" class="btn">START NOW !</button>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-lg-5 col-xl-6 cover-image-holder" data-aos="fade-left">
            <img src="../../../../assets/img/animated.svg">
        </div>
        
    </div>
</div>