.not-allowed-title {
    font: normal normal bold 36px/43px Roboto;
    letter-spacing: 0px;
    color: #004FD4;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.image-holder {
    text-align: center;
}

.image-holder img {
    width: 300px;
}

.not-allowed-holder {
    min-height: 300px;
}