<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sent-image-holder">
                <img src="../../../assets/img/no_cnx.svg">
            </div>
        </div>
        <div class="col-12">
            <div class="sent-text-holder">
                <p class="sent-big-text">Error</p>
                <p class="sent-small-text">Something thing went wrong while performing your request. Try Again !</p>
            </div>
        </div>
        <div class="col-12">
            <div class="confirm-button">
                <button type="submit" class="btn" (click)="closeModal()">
                    <span>OK, THANKS</span>
                  </button>
            </div>
        </div>
    </div>
</div>