<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mfm-title" data-aos="fade-up">
                <p>Most Followed Models</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 models-holder">
            <div class="card model-holder" data-aos="fade-up-right">
                <img src="../../../../assets/img/watchChrono.webp">
            </div>
            <div class="card model-holder" data-aos="fade-up-right">
                <img src="../../../../assets/img/watchChrono.webp">
            </div>
            <div class="card model-holder" data-aos="fade-up-right">
                <img src="../../../../assets/img/watchChrono.webp">
            </div>
            <div class="card model-holder" data-aos="fade-up-right">
                <img src="../../../../assets/img/watchChrono.webp">
            </div>
        </div>
    </div>
</div>