<button #changepasswordInstructionModelButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#change-password-InstructionModel" hidden>
</button>

<!-- Modal Success Sent -->
<div  class="modal fade" id="change-password-InstructionModel" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="change-password-InstructionModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="confirmDialogLabel">Change Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeButton  (click)='closeModal()'></button>
        </div>
      <div class="modal-body modal-change-password--instruction">
        <div class="change-password-form">

        <form novalidate [formGroup]="changePasswordForm">
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-change-password" id="inputoldpassword"
                    aria-describedby="oldpasswordError" placeholder="Old Password" formControlName="oldpassword"  [ngClass]="{'error-border':formErrors && formErrors.password}">
                <span class="input-group-text addon-right">
                    <img src="../../../assets/img/show.svg" *ngIf="!showPassword" (click)="showHidePassword(true)">    
                    <img src="../../../assets/img/hide.svg" *ngIf="showPassword" (click)="showHidePassword(false)">  
                </span>    
                <small id="oldpasswordError" class="form-text text-danger" *ngIf="formErrors && formErrors.oldpassword">{{formErrors.oldpassword}}</small>
            </div>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-change-password" id="inputpassword"
                    aria-describedby="passwordError" placeholder="Password" formControlName="password"  [ngClass]="{'error-border':formErrors && formErrors.password}">
                <span class="input-group-text addon-right">
                    <img src="../../../assets/img/show.svg" *ngIf="!showPassword" (click)="showHidePassword(true)">    
                    <img src="../../../assets/img/hide.svg" *ngIf="showPassword" (click)="showHidePassword(false)">  
                </span>    
                <small id="passwordError" class="form-text text-danger" *ngIf="formErrors && formErrors.password">{{formErrors.password}}</small>
            </div>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'"  class="form-control input-change-password" id="inputconfirmpassword"
                    aria-describedby="confirmPasswordError" placeholder="Confirm Password" formControlName="confirmPassword"  [ngClass]="{'error-border':formErrors && formErrors.confirmPassword}">   
                <small id="confirmPasswordError" class="form-text text-danger" *ngIf="formErrors && formErrors.confirmPassword">{{formErrors.confirmPassword}}</small>
            </div>
            <small class="form-text text-danger" *ngIf="validationErrors && (validationErrors.errcode == 3000 || validationErrors.errcode == 3001)">{{validationErrors.errmsg}}</small>
            <small class="form-text text-success" *ngIf="validationErrors && (validationErrors.errcode == 3200)">{{validationErrors.errmsg}}</small>
            <div class="change-password-div" >
                <button type="submit" class="btn" [disabled]="submitted || changePasswordForm.invalid" (click)="changePassword()" *ngIf="!validationErrors || (validationErrors && validationErrors.errcode != 3200)"> 
                    <span *ngIf="!submitted">CHANGE PASSWORD</span>
                  <div class="spinner-border" role="status" *ngIf="submitted">
                    <span class="visually-hidden">Loading...</span>
                  </div> 
                 </button>
            </div>
        </form>
        </div>
      </div>
      
    </div>
  </div>
</div>