<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="program-title">
                <span>AFFILIATE</span>
                <span>PROGRAM</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-5 program-col">
            <div class="program-image-holder">
                <img src="../../../../assets/img/affiliate.svg">
            </div>
        </div>
        <div class="col-12 col-lg-7 program-col">
            <div class="program-text-holder">
                <p class="program-big-text">
                    Why partner with ChronoAlerts?
                </p>
                <p class="program-meduim-text">
                    Promotion Made Easy
                </p>
                <p class="program-small-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae. consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 program-col">
            <div class="program-text-holder">
                <p class="program-big-text">
                    Lorem ipsum dolor sit amet                
                </p>
                <p class="program-small-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae. consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-5 program-col">
            <div class="program-image-holder">
                
                <div class="image-holder">
                    <div class="circle-blue" #circle>

                    </div>
                    <img src="../../../../assets/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="round-10">
                </div>
                
            </div>
        </div>
    </div>
</div>