<div class="col-12 main-selected-price-plan-holder">
    <div class="col-6 col-lg-3 selected-price-plan-holder">
        <div class="lock-holder">
            <img src="../../../../assets/img/client-dashboard/pricing_caisse.svg">
        </div>
    </div>
    <div class="col-0 col-lg-6 selected-price-plan-holder">
        <div class="selected-price-payment">
            <span>
                Select payment method
            </span>
        </div>
    </div>
    <div class="col-6 col-lg-3 selected-price-plan-holder">
        <div class="card card-price">
            <div class="selected-price-plan-holder">
                <div class="selected-price-plan-title">
                    {{plan.name | uppercase}}
                </div>
                <div class="selected-price-plan-price">
                    {{plan.currency}}{{plan.price}}
                </div>
                <div class="selected-price-plan-period">
                    per {{plan.period}}
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="col-12 payments">
    <div class="col-12 col-lg-6 payments-holder">
        <div class="payment-holder" *ngFor="let payment of payments" (click)="selectPayment(payment)">
            <div class="payment-holder-logo">
                <img [src]="payment.img">
            </div>
            <div class="payment-holder-text">
                <span>{{payment.paymentType}}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 card payment-viewer-holder">
        <div class="payment-viewer-title">
            <span>{{selectedPayment.paymentType}}</span>
        </div>
        <div class="payment-viewer-checkout">
            <div class="payments-block">
                <div class="payment-viewer-image">
                    <img [src]="selectedPayment.img">
                </div>
                <div class="payment-viewer-button">
                    <button class="btn">
                        Check Out
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="col-12 back-button">
    <button class="btn" (click)="back()">
        BACK
    </button>
</div>

