<div class="col-12 main-selected-price-plan-holder">
    <div class="col-6 col-lg-3 selected-price-plan-holder">
        <div class="lock-holder">
            <img src="../../../../assets/img/client-dashboard/pricing_caisse.svg">
        </div>
    </div>
    <div class="col-0 col-lg-6 selected-price-plan-holder">
        <div class="selected-price-payment">
            <span>
                Select payment method
            </span>
        </div>
    </div>
    <div class="col-6 col-lg-3 selected-price-plan-holder">
        <div class="card card-price">
            <div class="selected-price-plan-holder">
                <div class="selected-price-plan-title">
                    {{plan.name | uppercase}}
                </div>
                <div class="selected-price-plan-price">
                    {{plan.currency}}{{plan.price}}
                </div>
                <div class="selected-price-plan-period">
                    per {{plan.period}}
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="col-12 payments">
    <div class="col-12 col-lg-6 payments-holder">
        <div class="payment-holder" *ngFor="let payment of payments" (click)="selectPayment(payment)">
            <div class="payment-holder-logo">
                <img [src]="payment.img">
            </div>
            <div class="payment-holder-text">
                <span>{{payment.paymentType}}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 card payment-viewer-holder">
        <div class="payment-viewer-title">
            <span>{{selectedPayment.paymentType}}</span>
        </div>
        <div class="payment-viewer-checkout">
            <div class="payments-block">
                <div class="payment-viewer-image">
                    <img [src]="selectedPayment.img">
                </div>
                <div class="payment-viewer-button">
                    <button class="btn" (click)="showModal()" [disabled]="this.submitted" *ngIf="!apiResponse || (apiResponse && apiResponse.code == 1001)">
                        <span *ngIf="!submitted">Check Out</span>
                          <div class="spinner-border" role="status" *ngIf="submitted">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="col-12 back-button">
    <button class="btn" (click)="back()" [disabled]="submitted">
        BACK
    </button>
</div>


<button #confirmButton id="confirmButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmDialog" hidden>
    
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="confirmDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDialogLabel">Alert</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span *ngIf='userAction'>{{userAction}}</span>
          <span *ngIf='!userAction'>Do you want to perform this action</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)='addPlan()' data-bs-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>


  <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11" *ngIf="canShowToast">
    <div id="toastRequest" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="../../../../assets/img/client-dashboard/succes.svg" class="rounded me-2" alt="..." *ngIf="apiResponse && apiResponse.code == 1200">
        <img src="../../../../assets/img/client-dashboard/cancel.svg" class="rounded me-2" alt="..." *ngIf="apiResponse && apiResponse.code == 1001">
        <img src="../../../../assets/img/client-dashboard/error.svg" class="rounded me-2" alt="..." *ngIf="apiResponse && apiResponse.code == 1000">
        <strong class="me-auto" *ngIf="apiResponse && apiResponse.code == 1200">Success</strong>
        <strong class="me-auto" *ngIf="apiResponse && apiResponse.code == 1000">Warning</strong>
        <strong class="me-auto" *ngIf="apiResponse && apiResponse.code == 1001">Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)='canShowToast = false'></button>
      </div>
      <div class="toast-body">
        {{apiResponse.msg}}
      </div>
    </div>
  </div>

