<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="plans-title">
                <p>
                    Choose Your Plan
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-plans">
            <div class="card card-plan" [ngClass]="{'big-card-plan': selectedPlan == 0}" (click)="selectPlan(0)">
                <div class="card-title">
                    <p>FREE</p>
                </div>
                <div class="card-body">
                    <p class="plan-price">$0</p>
                    <p class="plan-price-period">per month</p>
                    <div class="plan-description">
                    <p>
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit.Donec mauris tortor, vestibulum eu mattis vitae.
                    </p>
                </div>
                </div>
                <div class="card-footer">
                    <button class="btn">
                        Get this plan
                    </button>
                </div>
            </div>
            <div class="card card-plan" [ngClass]="{'big-card-plan': selectedPlan == 1}" (click)="selectPlan(1)">
                <div class="card-title">
                    <p>STANDARD</p>
                </div>
                <div class="card-body">
                    <p class="plan-price">$9.99</p>
                    <p class="plan-price-period">per month</p>
                    <div class="plan-description">
                    <p>
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit.Donec mauris tortor, vestibulum eu mattis vitae.
                    </p>
                </div>
                </div>
                <div class="card-footer">
                    <button class="btn">
                        Get this plan
                    </button>
                </div>
            </div>
            <div class="card card-plan" [ngClass]="{'big-card-plan': selectedPlan == 2}" (click)="selectPlan(2)">
                <div class="card-title">
                    <p>PRO</p>
                </div>
                <div class="card-body">
                    <p class="plan-price">$19.99</p>
                    <p class="plan-price-period">per month</p>
                    <div class="plan-description">
                    <p>
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit.Donec mauris tortor, vestibulum eu mattis vitae.
                    </p>
                </div>
                </div>
                <div class="card-footer">
                    <button class="btn">
                        Get this plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>