<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wwa-title" data-aos="fade-up">
                <span>Who We Are ?</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-5 wwa-col">
            <div class="wwa-image-holder" data-aos="fade-up-right">
                <img src="../../../../assets/img/whoWeAre.svg">
            </div>
        </div>
        <div class="col-12 col-lg-7 wwa-col" data-aos="fade-up-left">
            <div class="wwa-text-holder">
                <p class="wwa-big-text">
                    Lorem ipsum dolor sit amet consectetur.
                </p>
                <p class="wwa-small-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae. consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 wwa-col">
            <div class="wwa-text-holder" data-aos="fade-up-right">
                <p class="wwa-big-text">
                    Our Goal
                </p>
                <p class="wwa-small-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae. consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.               
                </p>
                <div class="wwa-list-goals">
                    <ul>
                        <li data-aos="fade-up">
                            <img src="../../../../assets/img/check.svg">
                            <p>Lorem ipsum dolor sit amet</p>
                        </li>
                        <li data-aos="fade-up">
                            <img src="../../../../assets/img/check.svg">
                            <p>consectetur adipiscing elit</p>
                        </li>
                        <li data-aos="fade-up">
                            <img src="../../../../assets/img/check.svg">
                            <p>Donec mauris tortor</p>
                        </li>
                        <li data-aos="fade-up">
                            <img src="../../../../assets/img/check.svg">
                            <p>vestibulum eu mattis vitae</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 wwa-col" data-aos="fade-up-left">
            <div class="wwa-image-holder">
                <img src="../../../../assets/img/ourGoal.svg">
            </div>
        </div>
    </div>
</div>