.alert-holder {
    margin-top: 35px;
    padding-right: 10%;
    padding-left: 10%;
}



.big-title {
    display: inline-block;
    text-align: left;
    letter-spacing: 0px;
    color: #004FD4;
    font: normal normal normal 30px/24px Roboto;
}