

<div class="verify-now">
    <p class="error-verify-now" *ngIf="hash && hash != '' && apiResponse && apiResponse.code == 1001" data-aos="fade-up"> Couldn't Verify Your Email </p>
    <div class="guid-verify-now" *ngIf="hash && hash != '' && apiResponse && apiResponse.code == 1001" data-aos="fade-up">
        <ul>
            <li>Need to login with the email we have sent you the link to</li>
            <li>Use the same link we have sent you</li>
            <li>Connection Problem. Wait and try Again</li>
        </ul>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Verifying Email Please Wait</p>
</ngx-spinner>

