<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="reset-password-title">
                <p>RESET PASSWORD</p>
            </div>
            <div class="form-reset-password">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control input-reset-password" id="inputEmail"
                            aria-describedby="emailError" placeholder="E-mail Address">
                        <small id="emailError" class="form-text text-danger"></small>
                    </div>
                    <div class="reset-password-forget-password">
                        <a [routerLink]="['/auth/reset-password']">Login</a>
                    </div>
                    <div class="reset-password-button-div">
                        <button type="submit" class="btn"> RESET </button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-7 reset-password-col">
            <div class="reset-password-image">
                <img src="../../../assets/img/Login.svg">
            </div>
        </div>
    </div>
</div>