.reset-password-title {
    font: normal normal bold 36px/43px Roboto;
    letter-spacing: 0px;
    color: #004FD4;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.form-reset-password {
    width: 100%;
    margin-top: 60px;
}

.input-reset-password {
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px !important;
}

::placeholder {
    color:#B0B0B0;
}

:-ms-input-placeholder {
    color:#B0B0B0;
}

::-ms-input-placeholder {
    color:#B0B0B0;
}

.reset-password-image {
    width: 100%;
    text-align: center;
}

.reset-password-image img {
    width: 70%;
}

.form-reset-password button {
    width: 200px;
    height: 47px;
    background: #015AE7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
textarea {
    height: auto !important;
}

.reset-password-button-div {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

small {
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
}

.error-border {
    border-color:  #df4759;
    width: 100% !important;

}

.error-border:focus {
    border-color: #df4759;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df4759;
    width: 100% !important;
}

.reset-password-col {
    display: flex;
    align-items: center;
}


.reset-password-forget-password {
    width: 100%;
    display: inline-block;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #2E2E2E;
    text-align: right;
    margin-top: 15px;

    
}

.reset-password-forget-password a {
    color: #2E2E2E;
    text-decoration: none;
    margin-right: 10px;
}

.input-group,.form-group {
    height: 80px;
}











.addon-right img {
    width: 100%;
    filter: invert(100%) sepia(0%) saturate(3362%) hue-rotate(259deg) brightness(75%) contrast(76%);
}

.addon-right img:hover {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .reset-password-image img {
        width: 70%;
    }

    .reset-password-image {
        padding-left: 0px;
    }

    .reset-password-title {
        font: normal normal bold 14pt/43px Roboto;
    }

    .reset-password-forget-password {
        font: normal normal normal 10pt/19px Roboto;
    }

    .reset-password-forget-password a {
        font: normal normal normal 10pt/19px Roboto;
    }

    .reset-password-checkbox {
        font: normal normal normal 10pt/19px Roboto;
    }

    .form-group {
        font: normal normal normal 11pt/19px Roboto;
    }

    .reset-password-checkbox label {
        padding-top: 0px;
    }

    small {
        font: normal normal normal 10pt/19px Roboto;
        letter-spacing: 0px;
    }

    .form-reset-password button {
        width: 200px;
        height: 42px;
        font: normal normal bold 10pt/19px Roboto;
    }

    .auth-login-reset-password {
        font: normal normal normal 10pt/19px Roboto;
    }
    ::placeholder {
        font: normal normal normal 11pt/19px Roboto;
    }

    .form-reset-password {
        padding-left: 20px;
        padding-right: 20px;
    }
}
