<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="verify-email-title">
                <p>VERIFY EMAIL</p>
            </div>
            <div class="form-verify-email">
                <p class="verify-email-big-text">
                    Please Verify Your Email
                </p>
                <p class="verify-email-small-text">
                    In order to access your dashboard you need to verify your email first
                </p>
                <div class="verify-email-button-div">
                    <button type="submit" class="btn"> RESEND VERIFICATION EMAIL </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 verify-email-col">
            <div class="verify-email-image">
            </div>
        </div>
    </div>
</div>