<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="faq-title">
                <span>FAQ</span>
            </div>
            <div class="faq-image">
                <img src="../../../../assets/img/FAQ1.svg">
            </div>
            <div class="faq-image-question">
                <img src="../../../../assets/img/FAQ2.svg">
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-12">
            <div class="search-bar">
                <div class="input-group">
                    <input type="text" class="form-control input-faq" id="inputSearch"  placeholder="Help Me With...">
                    <span class="input-group-text addon-right"><img src="../../../../assets/img/search.svg"></span>
                         
                  </div>
            </div>
        </div>
    </div>
</div>