.faq-title {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font: normal normal bold 28px/34px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
}

.faq-title span {
    border-bottom: 2px solid #0B1834;
}

.faq-image {
    position: absolute;
    width: 200px;
    top: 130px;
}

.faq-image img {
    width: 100%;
}

.faq-image-question {
    position: absolute;
    width: 140px;
    top: 120px;
    right: 5%;
}

.faq-image-question img {
    width: 100%;
}

.search-bar {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input-faq {
    width: 590px;
    padding: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B0B0B0;
    border-radius: 10px !important;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #B0B0B0;
}

::placeholder {
    color:#B0B0B0;
}

:-ms-input-placeholder {
    color:#B0B0B0;
}

::-ms-input-placeholder {
    color:#B0B0B0;
}

.addon-right {
    width: 50px;
    background: transparent;
    color:#B0B0B0;
    border-radius: 10px;
    position: absolute;
    right: 0;
    padding: 15px;
    border: none;
    filter: invert(100%) sepia(0%) saturate(3362%) hue-rotate(259deg) brightness(75%) contrast(76%);
}

.input-group {
    width: auto !important;
    border-radius: 10px !important;
}

.addon-right img {
    width: 100%;
    filter: invert(100%) sepia(0%) saturate(3362%) hue-rotate(259deg) brightness(75%) contrast(76%);

}

.faq-col {
    text-align: left;
}

.faq-sub-title:hover {
    cursor: pointer;
}
.faq-item-holder {
    width: 100%;
    text-align: left;
}

.faq-big-title {
    font: normal normal bold 23px/25px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
}

.faq-sub-title {
    margin-top: 5px;
    font: normal normal normal 18px/23px Roboto;
    letter-spacing: 0px;
    color: #808080;
    width: 80%;
}

.faq-inner-sub-title {
    margin-top: 5px;
    font: normal normal normal 18px/23px Roboto;
    letter-spacing: 0px;
    color: #808080;
    width: 100%;
    text-align: left;
}

.faqs-holder {
    background: #F2F7FF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    margin-top: -25px;
    padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.selected-faq-holder {
    background: #F2F7FF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    margin-top: -25px;
    padding-left: 13px;
    padding-top: 36px;
    padding-bottom: 60px;
}

.row:last-child {
    margin-bottom: 60px;
}

.col-selected-faq {
    display: flex;
    align-items: center;
}

.faq-back {
    font: normal normal normal 21px/38px Roboto;
    letter-spacing: 0px;
    color: #0052D9;
    display: block;
}

.faq-back:hover {
    cursor: pointer;
}

.faq-back img {
    width: 20px;
    height: 18px;
    display: inline-block;
    filter: invert(22%) sepia(45%) saturate(4167%) hue-rotate(209deg) brightness(99%) contrast(111%);
}

.faq-back p {
    margin-left: 15px;
    display: inline-block;
}

.selected-faq-content {
    margin-top: 30px;
    text-align: center;
}



.faq-helpfull {
    margin-top: 40px;
}

.helpfull {
    font: normal normal bold 22px/27px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
}

.faq-button {
    font: normal normal normal 22px/27px Roboto;
    letter-spacing: 0px;
    color: #0159E5;
}

.faq-button.first {
    margin-left: 40px;
    margin-right: 20px;
}

.faq-button:hover {
    cursor: pointer;
}


