<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="faq-title">
                <span>FAQ</span>
            </div>
            <div class="faq-image">
                <img src="../../../../assets/img/FAQ1.svg">
            </div>
            <div class="faq-image-question">
                <img src="../../../../assets/img/FAQ2.svg">
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-12">
            <div class="search-bar">
                <div class="input-group">
                    <input type="text" class="form-control input-faq" id="inputSearch"  placeholder="Help Me With..." [(ngModel)]="searchFaq" >
                    <span class="input-group-text addon-right"><img src="../../../../assets/img/search.svg"></span>      
                  </div>
            </div>
        </div>
    </div>
    <div class="row faqs-holder" *ngIf="!selectedFaq">
        <div class="col-12 col-lg-3 faq-col" *ngFor="let faq of faqs | searchFaqPipe:searchFaq" >
            <div class="faq-item-holder">
                <p class="faq-big-title">{{faq.title}}</p>
                <p class="faq-sub-title" (click)="selectFaq(faq)">{{faq.subTitle}}</p>
            </div>
        </div>
    </div>
    <div class="row selected-faq-holder" *ngIf="selectedFaq && selectedFaq != null">
        <div class="col-12 col-lg-12">
            <div class="faq-back" (click)="unSelectFaq()">
                <img src="../../../../assets/img/left-arrow.svg">
                <p>Back To Faq</p>
            </div>
            <div class="selected-faq-content">
                <p class="faq-big-title">{{selectedFaq.innerTittle}}</p>
                <p class="faq-inner-sub-title">{{selectedFaq.innerContent}}</p>
            </div>
            <div class="faq-helpfull">
                <span class="helpfull">Was this helpful?</span>
                <span class="faq-button first">YES</span>
                <span class="faq-button">NO</span>
            </div>
        </div>
    </div>
</div>