<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="best-reviews-title">
                <p>What our customers are saying</p>
            </div>
            <div class="best-reviews-subtitle">
                <p>69,798 reviews from around the globe</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 reviews-holder">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide id="1">
                    <div class="card card-review">
                        <div class="image-avatar-user">
                            <div class="avatar-user">
                                <img src="../../../assets/img/world.svg">
                            </div>
                        </div> 
                        <div class="review-header">
                            <p class="review-time">Today</p>
                            <p class="review-location">Angelo, New Zealand</p>
                        </div>
                        <div class="review-description">
                         " I highly recommend ChronoALERTS, I got my first watch usin ChronoAlerts, It's really easy … "
                        </div>
                        <div class="review-stars">
                            <img src="../../../assets/img/star.png">
                            <img src="../../../assets/img/star.png">
                            <img src="../../../assets/img/star.png">
                            <img src="../../../assets/img/star.png">
                            <img src="../../../assets/img/star.png">
                        </div>
                     </div>
                </ng-template>
            <ng-template carouselSlide id="2">
                <div class="card card-review">
                    <div class="image-avatar-user">
                        <div class="avatar-user">
                            <img src="../../../assets/img/world.svg">
                        </div>
                    </div> 
                    <div class="review-header">
                        <p class="review-time">Today</p>
                        <p class="review-location">EJ, USA</p>
                    </div>
                    <div class="review-description">
                        " My experience with ChronoAlerts has been outstanding, it's a great platform that makes s ... "
                    </div>
                    <div class="review-stars">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                    </div>
                 </div>
            </ng-template>
            
             <ng-template carouselSlide id="3">
                <div class="card card-review">
                    <div class="image-avatar-user">
                        <div class="avatar-user">
                            <img src="../../../assets/img/world.svg">
                        </div>
                    </div> 
                    <div class="review-header">
                        <p class="review-time">Today</p>
                        <p class="review-location">Angelo, New Zealand</p>
                    </div>
                    <div class="review-description">
                        " My experience with ChronoAlerts has been outstanding, it's a great platform that makes s ... "
                    </div>
                    <div class="review-stars">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                    </div>
                 </div>
                 
             </ng-template>
             <ng-template carouselSlide id="4">
                <div class="card card-review">
                    <div class="image-avatar-user">
                        <div class="avatar-user">
                            <img src="../../../assets/img/world.svg">
                        </div>
                    </div> 
                    <div class="review-header">
                        <p class="review-time">Today</p>
                        <p class="review-location">Angelo, New Zealand</p>
                    </div>
                    <div class="review-description">
                        " My experience with ChronoAlerts has been outstanding, it's a great platform that makes s ... "
                    </div>
                    <div class="review-stars">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                        <img src="../../../assets/img/star.png">
                    </div>
                 </div>
             </ng-template>
             </owl-carousel-o>
        </div>
    </div>
</div>