<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="best-reviews-title">
                <p>What our customers are saying</p>
            </div>
            <div class="best-reviews-subtitle">
                <p>69,798 reviews from around the globe</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 reviews-holder">
            <div class="card card-review">
               <div class="image-avatar-user">
                   <div class="avatar-user">
                       <img src="../../../assets/img/world.svg">
                   </div>
               </div> 
            </div>
        </div>
    </div>
</div>