<div class="row card card-selection" [ngClass]='{"hidden-row":step != 1}'>
    <div class="col-12">
        <div class="notified-via-title" data-aos="fade-up">
            <span>Get Notification Via :</span>
        </div>
        <div class="col-6 col-lg-3 items-alert" *ngFor="let alertItem of alerts" (click)="selectAlert(alertItem)" data-aos="fade-up" >
            <div class="alert-holder" [class.selectedAlert]="alertItem.selected" [ngClass]='{"canSelect":(alertItem.plan == userPlan) || (alertItem.plan == "Free") || (userPlan == "Pro" && alertItem.plan == "Standard"),"no-select":!((alertItem.plan == userPlan) || (alertItem.plan == "Free") || (userPlan == "Pro" && alertItem.plan == "Standard"))}'>
                <div class="image-alert-holder" >
                    <img [src]="alertItem.img">
                </div>
                <div class="text-alert-holder">
                    <span>{{alertItem.name}}</span>
                </div>
                <div class="notificion-via-button-upgrade">
                    <button class="btn">
                        UPGRADE {{alertItem.plan | uppercase}}
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-12 selection-buttons">
        <button class="btn edit-filter" (click)="nextStep(2)">
            EDIT FILTER
        </button>
        <button class="btn confirm-filter" (click)="nextStepNotification({step:1})" [disabled]='!valid' >
            CONFIRM FILTER
        </button>
    </div>
</div>

<div class="row" *ngIf="step == 2">
    <app-app (appInstructionNext)='nextStepNotification($event)' (appInstructionPrev)='prevouisStepNotification($event)'></app-app>
</div>

<div class="row" *ngIf="step == 3">
    <app-email [user]='user' (emailInstructionNext)="nextStepNotification($event)" (emailInstructionPrev)="prevouisStepNotification($event)"></app-email>
</div>

<div class="row" *ngIf="step == 4">
    <app-telegram  (telegramInstructionNext)="nextStepNotification($event)" (telegramInstructionPrev)="prevouisStepNotification($event)"></app-telegram>
</div>


<div class="row" *ngIf="step == 5">
    <app-whatsapp  (whatsappInstructionNext)="nextStepNotification($event)" (whatsappInstructionPrev)="prevouisStepNotification($event)"></app-whatsapp>
</div>