<div class="row card card-selection">
    <div class="col-12">
        <div class="notified-via-title">
            <span>Get Notification Via :</span>
        </div>
        <div class="col-6 col-lg-3 items-alert" *ngFor="let alertItem of alerts" (click)="selectAlert(alertItem)" >
            <div class="alert-holder" [class.selectedAlert]="alertItem.selected">
                <div class="image-alert-holder" >
                    <img [src]="alertItem.img">
                </div>
                <div class="text-alert-holder">
                    <span>{{alertItem.name}}</span>
                </div>
            </div>
            
        </div>
    </div>
</div>