

.cover-holder {
    background-image: linear-gradient(to right,#0043BE, #0168FF);
    padding-top: 90px;
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}

.info-holder {
    margin-top: 70px;
}