.card-whatsapp {
    min-height: 400px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inherit;
    position: relative;
}
.whatsapp-title {
    margin-top: 20px;
    text-align: left;
    font: normal normal bold 21px/23px Roboto;
    letter-spacing: 0px;
    color: black;
}

.whatsapp-logo-holder {
    margin-top: 50px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    text-align: center;
    vertical-align: text-top;
}

.logo-holder {
    display: block;
}

.logo-holder img {
    width: 90px;
}

.logo-title {
    text-align: center;
    font: normal normal normal 20px/23px Roboto;
    letter-spacing: 0px;
    color: black;
    margin-top: 30px;
}

.whatsapp-instructions {
    margin-top: 50px;
    display: inline-block;
    vertical-align: text-top;
    padding-left: 15px;
    text-align: left;
}

.list-instructions {
    display: block;
}

.instruction-item {
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0px;
    color: black;
    display: block;
}

.whatsapp-qr-code {
    width: 120px;
    position: absolute;
    top: 5px;
    right: 5px;

}

.qr-code-image {
    display: block;
}

.qr-code-image img {
    width: 90px;
}

.qr-code-text {
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #414141;
    width: 126px;
}

.blue-text {
    color:#0164F8 !important;
}

.need-help {
    position: absolute;
    display: inline-block;
    width: 170px;
    bottom: 80px;
    right: 10px;
    text-align: left;
}

.help-logo {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    text-align: center;
}

.help-logo img {
    width: 40px;
}

.text-information {
    display: inline-block;
    width: 120px;
    padding-left: 10px;
    vertical-align: middle;
}

.help-big-text {
    font: normal normal bold 15px/22px Roboto;
    letter-spacing: 0px;
    color: black;
    display: block;
}

.help-small-text {
    font: normal normal bold 11px/22px Roboto;
    letter-spacing: 0px;
    color: #0164F8;
    display: block;
}

.whatsapp-buttons {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: right;
  }

  .edit-filter {
    width: 111px;
    height: 28px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal normal 10px/13px Roboto;
    color: #414141;
    margin-right: 10px;
  }

  .confirm-filter {
    width: 111px;
    height: 28px;
    background: #0164F8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal normal 10px/13px Roboto;
    color: #FFFFFF;
}

.hidden-instructions {
    display: none;
}

.show-instructions {
    display: inline-block !important;
}

.help-small-text:hover{
    cursor: pointer;
    text-decoration: underline;
}






