<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sent-image-holder">
                <img src="../../../../assets/img/plan.svg">
            </div>
        </div>
        <div class="col-12">
            <div class="sent-text-holder">
                <p class="sent-big-text">Sent successfully!</p>
                <p class="sent-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris tortor, vestibulum eu mattis vitae.</p>
            </div>
        </div>
        <div class="col-12">
            <div class="confirm-button">
                <button type="submit" class="btn" (click)="closeModal()">
                    <span>OK, THANKS</span>
                  </button>
            </div>
        </div>
    </div>
</div>