<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="image-holder">
            <a class="navbar-brand" href="/home">
              <img src="../../../assets/img/logo.svg" alt="" >
            </a>
          </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarClient" aria-controls="navBarClient" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarClient">
        <ul class="navbar-nav list-links">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Affiliates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>