.navbar-brand img {
    width: 230px;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    color: white !important;
    font-family: 'Roboto-Regular';
    margin-right: 16px;
    font: normal normal normal 15px/18px Roboto;
}

.list-links {
    width: 100% !important;
}

.nav-item {
    white-space: nowrap;
    text-align: center;
}

.modal-content {
    border-radius: 20px;
}

.image-holder {
    width: 48%;
}

.is-active {
    border-bottom: 1px solid white;
}

.navbar-background {
    background-image: linear-gradient(to right,#0043BE, #0168FF);
}
@media screen and (max-width: 992px) {
    .navbar-brand img {
        width: 230px;
    }
    
    .nav-item:last-child {
        margin-left: 0px;
    }
    
    .nav-link {
        color: white !important;
        font-family: 'Roboto-Regular';
        margin-right: 16px;
        font: normal normal normal 15px/18px Roboto;
    }
    
    .list-links {
        width: 100% !important;
    }
    
    .nav-item {
        white-space: nowrap;
        text-align: center;
    }
    
    .modal-content {
        border-radius: 20px;
    }
    
    .image-holder {
        width: 0%;
        display: none;
    }
    .navbar-toggler {
        justify-self: right;
        margin-left: auto;
        margin-right: 17px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        
      }
    .is-active {
        border-bottom: 1px solid white;
    }
    
    .navbar-background {
        background-image: linear-gradient(to right,#0043BE, #0168FF);
    }
}