.verify-now {
    min-height: 300px;
    padding-left: 30px;
}

.error-verify-now {
    font: normal normal bold 30px/37px Roboto;
    letter-spacing: 0px;
    color: #0B1834;
    margin-top: 50px;
}

.guid-verify-now {
    margin-top: 35px;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #808080;
}

.guid-verify-now ul {
    display: block;
}

.guid-verify-now ul li {
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .verify-now {
        min-height: 300px;
    }
    
    .error-verify-now {
        font: normal normal bold 13pt/37px Roboto;
        letter-spacing: 0px;
        color: #0B1834;
        margin-top: 50px;
    }
    
    .guid-verify-now {
        margin-top: 35px;
        font: normal normal normal 10pt/24px Roboto;
        letter-spacing: 0px;
        color: #808080;
    }
    
    .guid-verify-now ul {
        display: block;
    }
    
    .guid-verify-now ul li {
        margin-top: 10px;
    }
    
}

