<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sent-image-holder">
                <img src="../../../../assets/img/pc.svg">
            </div>
        </div>
        <div class="col-12">
            <div class="sent-text-holder">
                <p class="sent-big-text">You're already subscribed!</p>
                <p class="sent-small-text">Thanks for joining our community we will send you promotions and offers you are interested in</p>
            </div>
        </div>
        <div class="col-12">
            <div class="confirm-button">
                <button type="submit" class="btn" (click)="closeModal()">
                    <span>OK, THANKS</span>
                  </button>
            </div>
        </div>
    </div>
</div>