
<div class="container">
    <div class="row step-holder">
        <div class="col-6 big-title">
            <span>Create New Alert</span>
        </div>
        <div class="col-6 step-number">
            <span>{{step}}/4 {{step == 1 || step == 2 ? 'Select your watch':'Select type notification'}}</span>
        </div>
    </div>
    <div class="row step-holder" *ngIf="step == 1 || step == 2" [ngClass]='{"hide-step-holder":step  == 2}'>
        
        <div class="col-12 filter-holder">
            <app-filter-url 
            [appliedFiters]='appliedFiters' 
            [notificationFilters]='notificationFilters'
            [minTrustedValue]='minTrustedValue'
            [maxTrustedValue]='maxTrustedValue'
            (filtersApplied)='filtersApplied($event)'
            >
        </app-filter-url>
        </div>
    </div>
    <div class="row step-holder" *ngIf="step == 2 || step == 1" [ngClass]='{"hide-step-holder":step  == 1}'> 
        <div class="col-12 filter-holder">
            <app-confirm-filters
            [appliedFiters]='appliedFiters' 
            [minPriceValue]='minPriceValue' 
            [maxPriceValue]='maxPriceValue' 
            [notificationFilter]='notificationFilter'
            (stepProgress)="nextStep($event)"
            >
            </app-confirm-filters>
        </div>
    </div>
    <div class="row step-holder" *ngIf="step == 3"> 
        <div class="col-12 filter-holder">
            <app-notified-via (emailSet)='emailApplied($event)' [alerts]='alerts' [urlEmail]='urlEmail' (stepProgress)="nextStep($event)"></app-notified-via>
        </div>
    </div>
    <div class="row step-holder" *ngIf="step == 4"> 
        <div class="col-12 filter-holder">
            <app-good-job [alerts]='alerts' 
            [minPriceValue]='minPriceValue' 
            [maxPriceValue]='maxPriceValue'
            [appliedFilter]='appliedFiters' 
            [urlEmail]='urlEmail' 
            [notificationFilter]='notificationFilter'></app-good-job>
        </div>
    </div>
</div>

