
<div class="container">
    <div class="row step-holder" *ngIf="step == 1">
        <div class="col-6 big-title">
            <span>Create New Alert</span>
        </div>
        <div class="col-6 step-number">
            <span>{{step}}/4 Select your watch</span>
        </div>
        <div class="col-12 filter-holder">
            <app-filter-url 
            [appliedFiters]='appliedFiters' 
            [minPriceValue]='minPriceValue' 
            [maxPriceValue]='maxPriceValue' 
            [notificationFilters]='notificationFilters'
            [minTrustedValue]='minTrustedValue'
            [maxTrustedValue]='maxTrustedValue'
            (filtersApplied)='filtersApplied()'
            >
        </app-filter-url>
        </div>
    </div>
</div>

