<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="contact-us-title">
                <p>CONTACT US</p>
            </div>
            <div class="form-contact-us">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-contact-us" id="inputName" aria-describedby="nameError" placeholder="Name">
                        <small id="nameError" class="form-text text-danger"></small>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control input-contact-us" id="inputEmail" aria-describedby="emailError" placeholder="E-mail Address">
                        <small id="emailError" class="form-text text-danger"></small>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control input-contact-us" id="inputSubject" aria-describedby="subjectError" placeholder="Subject">
                        <small id="subjectError" class="form-text text-danger"></small>
                      </div>
                    <div class="form-group">
                      <textarea  class="form-control input-contact-us" id="inputMessage" aria-describedby="messageError" placeholder="Message..." rows="4" cols="50"></textarea>
                      <small id="messageError" class="form-text text-danger"></small>
                    </div>
                    <div class="button-div">
                        <button type="submit" class="btn"> SEND </button>
                    </div>
                  </form>
            </div>
        </div>
        <div class="col-12 col-lg-6 contact-us-col">
            <div class="contact-us-image">
                <img src="../../../../assets/img/ContactUs.svg">
            </div>
        </div>
    </div>
</div>