<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="contact-us-title">
                <p>CONTACT US</p>
            </div>
            <div class="form-contact-us" *ngIf="showForm">
                <form novalidate [formGroup]="contactUsForm">
                    <div class="form-group">
                        <input type="text" class="form-control input-contact-us" id="inputName" aria-describedby="nameError" placeholder="Name" formControlName="name" [ngClass]="{'error-border':formErrors && formErrors.name}">
                        <small id="nameError" class="form-text text-danger" *ngIf="formErrors && formErrors.name">{{formErrors.name}}</small>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control input-contact-us" id="inputEmail" aria-describedby="emailError" placeholder="E-mail Address" formControlName="email" [ngClass]="{'error-border':formErrors && formErrors.email}">
                        <small id="emailError" class="form-text text-danger" *ngIf="formErrors && formErrors.email">{{formErrors.email}}</small>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control input-contact-us" id="inputSubject" aria-describedby="subjectError" placeholder="Subject" formControlName="subject" [ngClass]="{'error-border':formErrors && formErrors.subject}">
                        <small id="subjectError" class="form-text text-danger" *ngIf="formErrors && formErrors.subject">{{formErrors.subject}}</small>
                      </div>
                    <div class="form-group">
                      <textarea  class="form-control input-contact-us" id="inputMessage" aria-describedby="messageError" placeholder="Message..." rows="4" cols="50" formControlName="message" [ngClass]="{'error-border':formErrors && formErrors.message}"></textarea>
                      <small id="messageError" class="form-text text-danger" *ngIf="formErrors && formErrors.message">{{formErrors.message}}</small>
                    </div>
                    <div class="button-div">
                        <button type="submit" class="btn" [disabled]='contactUsForm.invalid || submitted' (click)="sendContactUs()">
                          <span *ngIf="!submitted">SEND</span>
                          <div class="spinner-border" role="status" *ngIf="submitted">
                            <span class="visually-hidden">Loading...</span>
                          </div> 
                        </button>
                          </div>
                  </form>
            </div>
            <div class="sent-contact-us" *ngIf="!showForm">
              <div class="sent-contact-us-image-holder">
                <img src="../../../../assets/img/check-sent-success.svg">
              </div>
              <div class="sent-contact-us-text">
                You Message Has Been Sent Successfully.
              </div>
              <div class="sent-contact-us-note">
                Please Wait 24 Hours To Try Again !
              </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 contact-us-col">
            <div class="contact-us-image">
                <img src="../../../../assets/img/ContactUs.svg">
            </div>
        </div>
    </div>
</div>


<button #sendSuccessModal type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#successSentModal" hidden>
  Launch static backdrop modal
</button>

<!-- Modal Success Sent -->
<div  class="modal fade" id="successSentModal" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successSentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeButton hidden></button>
      <div class="modal-body">
        <app-sendsuccess (closeModal)="closeSuccessModal()"></app-sendsuccess>
      </div>
      
    </div>
  </div>
</div>