.contact-us-title {
    font: normal normal bold 36px/43px Roboto;
    letter-spacing: 0px;
    color: #004FD4;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.form-contact-us {
    width: 100%;
    margin-top: 60px;
}

.input-contact-us {
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px ;
    margin-top: 25px;
}

::placeholder {
    color:#B0B0B0;
}

:-ms-input-placeholder {
    color:#B0B0B0;
}

::-ms-input-placeholder {
    color:#B0B0B0;
}

.contact-us-image {
    width: 100%;
    text-align: center;
}

.contact-us-image img {
    width: 80%;
}

.form-contact-us button {
    width: 131px;
    height: 47px;
    background: #015AE7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
textarea {
    height: auto !important;
}

.button-div {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-us-col {
    display: flex;
    align-items: center;
}

.error-border {
    border-color:  #df4759;
}

.error-border:focus {
    border-color: #df4759;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df4759;
}