.email-signup {
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #F7F8F8;
    opacity: 1;
    margin-top: 30px;
}

.subscriber-sent {
    text-align: left;
    font: normal normal normal 11px/21px Roboto;
    letter-spacing: 0px;
    color: #F7F8F8;
    opacity: 1;
    margin-top: 9px;
}

.email-signup input {
    border-radius: 10px;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
}

.email-signup button {
    border-radius: 10px;
    background-color: #0240A7;
    color: white;
    width: 187px;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    font-family: "Roboto";
    padding: 7px;
}

.error-border {
    border-color:  #df4759;

}

.error-border:focus {
    border-color: #df4759;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df4759;
}

.modal-content {
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .email-signup {
        text-align: left;
        font: normal normal normal 14pt/17px Roboto;
        letter-spacing: 0px;
        color: #F7F8F8;
        opacity: 1;
        margin-top: 30px;
    }
    
    .subscriber-sent {
        text-align: left;
        font: normal normal normal 8pt/21px Roboto;
        letter-spacing: 0px;
        color: #F7F8F8;
        opacity: 1;
        margin-top: 9px;
    }
    
    .email-signup input {
        border-radius: 10px;
        font: normal normal normal 12px/14px Roboto;
        letter-spacing: 0px;
    }
    
    .email-signup button {
        border-radius: 10px;
        background-color: #0240A7;
        color: white;
        width: 155px;
        font: normal normal normal 10px/17px Roboto;
        letter-spacing: 0px;
        font-family: "Roboto";
        padding: 7px;
    }
    
    .error-border {
        border-color:  #df4759;
    
    }
    
    .error-border:focus {
        border-color: #df4759;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #df4759;
    }
    
    .modal-content {
        border-radius: 20px;
    }
}