<div class="row">
    <div class="col-footer-client-logo">
        <div class="logo-footer-client">
            <img src='../../../../assets/img/logo.svg'>
        </div>
        <div class="footer-copy-right">
            © Copyright {{year}} 
        </div>
    </div>
    <div class="col-footer-client-social">
        <div class="social-holder">
            <ul>
                <li>
                    <a href="https://www.facebook.com/aymenxyzbkl/">
                        <img src="../../../assets/img/facebook.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/aymen_bkll/">
                        <img src="../../../assets/img/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/aymen-boukhelkhal-37b44816b/">
                        <img src="../../../assets/img/linkedin.svg">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Aymenxyz">
                        <img src="../../../assets/img/twitter.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-footer-client-links">
        <div class="links-holder">
            <ul>
                <li>
                    <a [routerLink]='["/dashboard-clinet/home"]'>
                        Home
                    </a>
                </li>
                <li>
                    <a [routerLink]='["/dashboard-clinet/alerts"]'>
                        Alerts
                    </a>
                </li>
                <li>
                    <a [routerLink]='["/dashboard-clinet/pricing"]'>
                        Pricing
                    </a>
                </li>
                <li>
                    <a [routerLink]='["/dashboard-clinet/settings"]'>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-footer-client-links-privacy">
        <div class="links-holder">
            <ul>
                <li>
                    <a [routerLink]='["/dashboard-clinet/privacy"]'>
                        Privacy
                    </a>
                </li>
                <li>
                    <a [routerLink]='["/dashboard-clinet/support"]'>
                        Support
                    </a>
                </li>
                

            </ul>
        </div>
    </div>
    
</div>