<div class="nav-holder">
    <app-nav></app-nav>
</div>


<router-outlet></router-outlet>


<div class="footer-holder">
    <app-footer></app-footer>
</div>


<button #errorModalButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#errorModel" hidden>
</button>

<!-- Modal Success Sent -->
<div  class="modal fade" id="errorModel" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="errorModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #errorCloseModalButton hidden></button>
      <div class="modal-body">
        <app-error-modal></app-error-modal>
      </div>
      
    </div>
  </div>
</div>
