.nav-holder {
    background-image: linear-gradient(to right,#0043BE, #0168FF);
}

.footer-holder {
    background-image: linear-gradient(to right,#0043BE, #0168FF);
    margin-top: 30px;
}

.home-page {
    overflow-x: hidden;
}