<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="our-memebers-title" data-aos="fade-up">
                <p>Our Members</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 col-memeber" data-aos="flip-right">
            <div class="memeber-holder">
                <div class="image-avatar">
                    <img src="../../../../assets/img/man.jpg">
                </div>
                <div class="memeber-info" data-aos="fade-up">
                    <p class="memeber-name">John Smith</p>
                    <p class="memeber-position">CEO</p>
                </div>

            </div>
            </div>
            <div class="col-12 col-lg-4 col-memeber" data-aos="flip-right">
            <div class="memeber-holder">
                <div class="image-avatar">
                    <img src="../../../../assets/img/women.jpg">
                </div>
                <div class="memeber-info" data-aos="fade-up">
                    <p class="memeber-name">John Smith</p>
                    <p class="memeber-position">CEO</p>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4 col-memeber" data-aos="flip-right">
            <div class="memeber-holder">
                <div class="image-avatar">
                    <img src="../../../../assets/img/man.jpg">
                </div>
                <div class="memeber-info" data-aos="fade-up">
                    <p class="memeber-name">John Smith</p>
                    <p class="memeber-position">CEO</p>
                </div>

            </div>
        </div>
    </div>
    
</div>